#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.footer {
  margin-top: 1.5rem;
  color: #888;
}

.crossword {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9rem;
  margin-left: 2%;
  max-width: none;
}

.grid {
  display: inline-block;
  border: 0.01rem solid #444;
  flex-shrink: 0;
}

.row {
  display: flex;
}

.cell {
  width: 3.1rem;
  height: 3.1rem;
  border: 0.01rem solid #747272;
  box-sizing: border-box;
  position: relative;
  background: #eee4cc;
}

.cell-number {
  position: absolute;
  top: 0px;
  left: 0.01rem;
  font-size: 0.85rem;
  color: #222;
  pointer-events: none;
}

.cell.blocked {
  background: #222;
  border-color: #222;
}

.cell input {
  width: 100%;
  height: 100%;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  background: transparent;
  color: #000;
  outline: none;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  margin-left: 15rem;
}

.controls button {
  padding: 0.5rem 1rem;
  background: #111;
  color: #fff;
  border: 1px solid #666;
  cursor: pointer;
  margin: 0;
}

.controls button:hover {
  background-color: #111
}

.controls button:active {
  background-color: #111;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.controls p {
  margin: 0;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}
.innerbackground {
  position: fixed;
  top: 4%;
  left: 2%;
  width: 96%;
  height: 92%;
  background: #E6D3A3;
  border: solid;
  border-color: #d6c18a;
  border-width: 3px;
}

.outerbackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eee4cc;
}

.crossword-title {
  font-size: 2rem;
  margin-bottom: 0rem;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  font-weight: bolder;
  font-size: 2.5rem;
}

.clues {
  display: flex;
  gap: 0rem;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 1 40rem;  
}

.clues .clue-column {
  text-align: left;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  
  width: 30rem;
}

.clue-title {
  font-size: 2.4rem;
  margin-bottom: 0.5rem;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  font-weight: bolder;
}

.title-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0rem;
  position: relative;
}